# Ignore frontend heavy weights (New Folders)
clinic-admin-ui/node_modules
clinic-admin-ui/build
clinic-patient-chat/node_modules
clinic-patient-chat/build

# Ignore backend heavy weights
**/__pycache__
**/.venv
**/venv
.env

# Ignore git and logs
.git
*.log

# Ignore OS specific files
.DS_Store
Thumbs.db